<a href="https://colab.research.google.com/github/ENDERCAFe/Computer_Programming_Lab/blob/master/ComProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#__เเนะนำตัว__
- ชื่อ: นาย ณัฐกิตติ์ ฟองสุวรรณ
- ชื่อเล่น: คิม
- รหัสนักศึกษา: 164404140009
- วิชาที่ชอบ: การเขียนโปรแกรม
- ชื่อในเกมเเละเว็บไซต์ต่างๆ: ENDER_CAFE
- งานอดิเรก: 
    1. เขียนโปรเเกรม
    2. ทำ Mod เกม
    3. ฟังเพลง
    4. ระบบ IOT
- ความสามารถ:
    1. เชียนโปรแกรม
    2. ซ่อมคอมพิวเตอร์
    3. ทำระบบ IOT
    4. ระบบ Network เบื่องต้น
- ภาษาโปรแกรมที่ชอบ: Python

#__ข้อมูลอื่นๆ__

![G_mail](https://www.img.in.th/images/3ba5236b9faf0484f58584548d5cf96c.png)

- E-mail ส่วนตัว: kimnk555@gmail.com
- E-mail นักศึกษา: natthakit.f@rmutsv.ac.th

![Facebook](https://www.img.in.th/images/f5c5e413b11dda41185e8a9ebed07520.png)

- Facebook: https://www.facebook.com/ENDERCAFEe 

![Git_hub](https://www.img.in.th/images/1852545b29d7d67ace8295f37323b182.png)   

- GitHub: https://github.com/ENDERCAFe

## LAB 05

In [ ]:
%%writefile LAB_05.c
#include<stdio.h>

int main()
{
    char name[50] = "Natthakit Fongsuwan";
    char nickname[10] = "kim";
    char std_id[20] = "164404140009";
    int age = 19;
    printf("My Name is %s. \n", name);
    printf("My Nickname is %s. \n", nickname);
    printf("My Student ID: %s \n", std_id);
    printf("I'm %d years old. \n", age);  
    return 0;
}

Overwriting LAB_05.c

In [ ]:
%%shell
gcc -Wall LAB_05.c -o LAB_05

In [ ]:
%%shell
./LAB_05

My Name is Natthakit Fongsuwan.
My Nickname is kim.
My Student ID: 164404140009
I'm 19 years old.

## LAB 06

In [ ]:
%%writefile LAB_06.c
#include<stdio.h>

int main()
{
    int num;
    float abc;
    char c;
    double average;
    char name[50];
    
    printf("Input Number:");
    scanf("%d",&num);fflush(stdin);
    printf("Input abc:");
    scanf("%f",&abc);fflush(stdin);
    printf("Input c:");
    scanf("%c",&c);fflush(stdin);
    printf("Input Name:");
    scanf("%[^\n]s",name);fflush(stdin);
    printf("Input average:");
    scanf("%lf",&average);fflush(stdin);
 
    printf("-------------------------------------------------\n");
    printf("num -> %d \n", num);
    printf("abc -> %.4f \n", abc);
    printf("c -> %c \n", c);
    printf("name -> %s \n", name);
    printf("average -> %.14f \n", average);
    return 0;
}

Overwriting LAB_06.c

In [ ]:
%%shell
gcc -Wall LAB_06.c -o LAB_06

In [ ]:
%%shell
./LAB_06

Input Number:40
Input abc:3.14159
Input c:Input Name:Natthakit Fongsuwan
Input average:3.91818383918389
-------------------------------------------------
num -> 40
abc -> 3.1416
c ->

name -> Natthakit Fongsuwan
average -> 3.91818383918389

*ข้อความตัวเอียง*## LAB 07

In [ ]:
%%writefile LAB_07.c
#include<stdio.h>

int main()
{
    char name[50];
    float salary;
    int age;
    
    printf("Input Name \n");
    scanf("%[^\n]s",name);
    printf("Input salary \n");
    scanf("%f",&salary);
    printf("Input Age \n");
    scanf("%d",&age);
 
    printf("-------------------------------------------------\n");
    printf("Name -> %s \n", name);
    printf("salary -> %.2f \n", salary);
    printf("Age -> %d \n", age);
    return 0;
}

Overwriting LAB_07.c

In [ ]:
%%shell
gcc -Wall LAB_07.c -o LAB_07

In [ ]:
%%shell
./LAB_07

Input Name
Natthakit Fongsuwan
Input salary
15000.234
Input Age
19
-------------------------------------------------
Name -> Natthakit Fongsuwan
salary -> 15000.23
Age -> 19

## LAB 08

In [ ]:
%%writefile LAB_08.c
#include<stdio.h>

int main()
{
    float x;
    scanf("%f" ,&x);
    char grade;
      if(x >= 80)
        grade = 'G'; // Good
      else if(x >= 50)
        grade = 'P'; //Pass
      else if(x >= 0)
        grade = 'F'; //Fail
    printf("Grade %c \n",grade);
    return 0;
}

Overwriting LAB_08.c

In [ ]:
%%shell
gcc -Wall LAB_08.c -o LAB_08

กรณีที่ 1 x >= 0

In [ ]:
%%shell
./LAB_08

47
Grade F

กรณีที่2 x >= 50

In [ ]:
%%shell
./LAB_08

50
Grade P

กรณีที่3 x >= 80

In [ ]:
%%shell
./LAB_08

80
Grade G

## LAB 09

In [ ]:
%%writefile LAB_09.c
#include<stdio.h>

int main()
{
    int age;
    printf("Enter Age:");
    scanf("%d" ,&age);
      if(age >= 18)
        {
          printf("OK ! go to Website");
        }
      else
      {
        printf("No No No 18+ Only");
      }
    return 0;
}

Overwriting LAB_09.c

In [ ]:
%%shell
gcc -Wall LAB_09.c -o LAB_09

In [ ]:
กรณีที่ 1 age >= 18

In [ ]:
%%shell
./LAB_09

Enter Age:18
OK ! go to Website

กรณีที่ 2 อายุน้อยกว่า18ลงไป

In [ ]:
%%shell
./LAB_09

Enter Age:17
No No No 18+ Only

## LAB 10

In [ ]:
%%writefile LAB_10.c
#include<stdio.h>

int main()
{
    float score1;
    float score2;
    printf("Enter Score1:");
    scanf("%f" ,&score1);
    printf("Enter Score2:");
    scanf("%f" ,&score2);
    float total = score1 + score2;
      if(total >= 20)
        {
          printf("Total Score: %.2f Passed!!! ", total);
        }
      else
      {
        printf("Total Score: %.2f Failed!!! ", total);
      }
    return 0;
}

Writing LAB_10.c

In [ ]:
%%shell
gcc -Wall LAB_10.c -o LAB_10

กรณีที่ 1 total >= 20

Enter Score1:10
Enter Score2:10
Total Score: 20.00 Passed!!!

กรณีที่ 2 totalน้อยกว่า 20

In [ ]:
%%shell
./LAB_10

Enter Score1:5
Enter Score2:5
Total Score: 10.00 Failed!!!

## LAB 11

In [ ]:
%%writefile LAB_11.c
#include <stdio.h>
int main()
{
            float weight, height;
            printf("Enter weight(kg): "); scanf("%f",&weight);
            printf("Enter height(cm): "); scanf("%f",&height);
           
            float hMeter     = height/100.0;
            float BMI = (float)weight/(hMeter*hMeter);
           
            printf("Your BMI: %.1f\n",BMI);
           
            //insert your code here เพิ่มโค้ดคุณที่นี่

             if (BMI < 18.5){
              printf("Too thin\n");}
            else if (BMI <= 22.9){
              printf("Good\n");}
            else if (BMI <= 24.9){
              printf("Little Fat\n");}
            else if (BMI <= 29.9){
              printf("Big Fat\n");}
            else
              printf("Dangerous Fat\n");
            return 0;
}

Writing LAB_11.c

In [ ]:
%%shell
gcc -Wall LAB_11.c -o LAB_11

กรณีที่ 1 BMI < 18.5

In [ ]:
%%shell
./LAB_11

Enter weight(kg): 50
Enter height(cm): 170
Your BMI: 17.3
Too thin

กรณีที่ 2 BMI <= 22.9

In [ ]:
%%shell
./LAB_11

Enter weight(kg): 60
Enter height(cm): 170
Your BMI: 20.8
Good

กรณีที่ 3 BMI <= 22.9

In [ ]:
%%shell
./LAB_11

Enter weight(kg): 70
Enter height(cm): 170
Your BMI: 24.2
Little Fat

กรณีที่ 4 BMI <= 24.9

In [ ]:
%%shell
./LAB_11

Enter weight(kg): 80
Enter height(cm): 170
Your BMI: 27.7
Big Fat

กรณีที่ 5 BMI <= 29.9

In [ ]:
%%shell
./LAB_11

Enter weight(kg): 90
Enter height(cm): 170
Your BMI: 31.1
Dangerous Fat

## LAB 12

In [ ]:
%%writefile LAB_12.c
#include <stdio.h>
int main()
{
            int menu_number;
              printf("Menu:\n1) Papaya Salad\n");
              printf("2) Grilled Chicken\n");
              printf("3) Sticky Rice\n");
              printf("Enter Menu: ");
              scanf("%d",&menu_number);
              switch(menu_number)
              {
                  case 1:
                    printf("Your order is Papaya Salad"); break;
                  case 2:
                    printf("Your order is Grilled Chicken"); break;
                  case 3:
                    printf("Your order is Sticky Rice"); break;
                  default :printf("Incorrect order\n");
              }
            return 0;
}

In [ ]:
%%shell
gcc -Wall LAB_12.c -o LAB_12

In [ ]:
กรณีที่ 1 case 1

In [ ]:
%%shell
./LAB_12

Menu:
1) Papaya Salad
2) Grilled Chicken
3) Sticky Rice
Enter Menu: 1
Your order is Papaya Salad

กรณีที่ 2 case 2

In [ ]:
%%shell
./LAB_12

Menu:
1) Papaya Salad
2) Grilled Chicken
3) Sticky Rice
Enter Menu: 2
Your order is Grilled Chicken

กรณีที่ 3 case 3

In [ ]:
%%shell
./LAB_12

Menu:
1) Papaya Salad
2) Grilled Chicken
3) Sticky Rice
Enter Menu: 3
Your order is Sticky Rice

กรณีที่ 4 case default

In [ ]:
%%shell
./LAB_12

Menu:
1) Papaya Salad
2) Grilled Chicken
3) Sticky Rice
Enter Menu: 4
Incorrect order

กรณีที่ 5 case default

In [ ]:
%%shell
./LAB_12

Menu:
1) Papaya Salad
2) Grilled Chicken
3) Sticky Rice
Enter Menu: 5
Incorrect order

## LAB 13

In [ ]:
%%writefile LAB_13.c
#include <stdio.h>
int main()
{
            char menu;
              printf("Menu:\n1 | A | a -> Papaya Salad\n");
              printf("2 | B | b -> Grilled Chicken\n");
              printf("3 | C | c -> Sticky Rice\n");
              printf("Enter Menu: ");
              scanf("%c",&menu);
              switch(menu)
              {
                  case '1':
                  case 'A':
                  case 'a': 
                    printf("Your order is Papaya Salad"); break;
                  case '2':
                  case 'B':
                  case 'b':
                    printf("Your order is Grilled Chicken"); break;
                  case '3':
                  case 'C':
                  case 'c':
                    printf("Your order is Sticky Rice"); break;
                  default :printf("Incorrect order\n");
              }
            return 0;
}

Overwriting LAB_13.c

In [ ]:
%%shell
gcc -Wall LAB_13.c -o LAB_13

กรณีที่ 1 case 1 A a

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: 1
Your order is Papaya Salad

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: A
Your order is Papaya Salad

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: a
Your order is Papaya Salad

กรณีที่ 2 case 2 B b

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: 2
Your order is Grilled Chicken

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: B
Your order is Grilled Chicken

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: b
Your order is Grilled Chicken

กรณีที่ 3 case 3 C c

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: 3
Your order is Sticky Rice

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: C
Your order is Sticky Rice

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: c
Your order is Sticky Rice

กรณีที่ 4 case default 4 P p

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: 4
Incorrect order

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: P
Incorrect order

In [ ]:
%%shell
./LAB_13

Menu:
1 | A | a -> Papaya Salad
2 | B | b -> Grilled Chicken
3 | C | c -> Sticky Rice
Enter Menu: p
Incorrect order

## LAB 14

In [ ]:
%%writefile LAB_14.c
#include <stdio.h>
int main()
{
       int i;
       for(i=1;i<=12;i++)
       {
       printf("3 x %d = %d\n",i,i*3);

       }
       return 0;
}

Overwriting LAB_14.c

In [ ]:
%%shell
gcc -Wall LAB_14.c -o LAB_14

In [ ]:
%%shell
./LAB_14

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

## LAB 15

In [ ]:
%%writefile LAB_15.c
#include <stdio.h>
int main()
{
       int i;
       for(i=12;i>=1;i--)
       {
       printf("3 x %d = %d\n",i,i*3);

       }
       return 0;
}

Writing LAB_15.c

In [ ]:
%%shell
gcc -Wall LAB_15.c -o LAB_15

In [ ]:
%%shell
./LAB_15

3 x 12 = 36
3 x 11 = 33
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3

## LAB 16

In [ ]:
%%writefile LAB_16.c
#include <stdio.h>
int main ()
{
  int i,num;
  printf("\nInput number: ");
  scanf("%d",&num);
  for(i=1;i<13;i++)
    {
      printf("%d x %d = %d\n",num,i,i*num);
    }
       return 0;
}

Overwriting LAB_16.c

In [ ]:
%%shell
gcc -Wall LAB_16.c -o LAB_16

In [ ]:
%%shell
./LAB_16

Input number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

## LAB 17

In [ ]:
%%writefile LAB_17.c
#include <stdio.h>
int main()
{
    int multiply_num,start_num,end_num;
    printf("Enter multiply formula : ");
    scanf("%d",&multiply_num);
    printf("Enter start number : ");    
    scanf("%d",&start_num);
    printf("Enter end number : ");
    scanf("%d",&end_num);
    for(start_num = start_num ; start_num <= end_num; start_num++)
      {
        printf("%d x %d = %d\n",multiply_num,start_num,multiply_num*start_num);
      }
    return 0 ;
}

Overwriting LAB_17.c

In [ ]:
%%shell
gcc -Wall LAB_17.c -o LAB_17

In [ ]:
%%shell
./LAB_17

Enter multiply formula : 4
Enter start number : 1
Enter end number : 8
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32

In [ ]:
%%shell
./LAB_17

Enter multiply formula : 6
Enter start number : 1
Enter end number : 5
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30

## LAB 18

In [ ]:
%%writefile LAB_18.c
#include <stdio.h>
int main()
{
    int i;
    char c;
    printf("Enter u to display uppercase \n");
    printf("Enter l to display lowercase \n");
    scanf("%c", &c);
    printf("\n");
    if (c == 'U' || c == 'u') {
        for(i=65; i<=90; i++)
        {
            printf("%c \n",i);
        }
    }
    if (c == 'L' || c == 'l') {
        for(i=97; i<=122; i++)
        {
            printf("%c \n",i);
        }
    }
 return 0 ;
}

Overwriting LAB_18.c

In [ ]:
%%shell
gcc -Wall LAB_18.c -o LAB_18

In [ ]:
%%shell
./LAB_18

Enter u to display uppercase
Enter l to display lowercase
l

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
%%shell
./LAB_18

Enter u to display uppercase
Enter l to display lowercase
u

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

## LAB 19

In [ ]:
%%writefile LAB_19.c
#include <stdio.h>
int main()
{
    int i,N,j;
    printf("#Loop Star=");
    scanf("%d", &N);
    for(i=1; i<=N; i++)
    {
        for(j=1; j<=i; j++)
        {
            printf("*");
        }
    printf("\n");
    }
 return 0;
}

Overwriting LAB_19.c

In [ ]:
%%shell
gcc -Wall LAB_19.c -o LAB_19

In [ ]:
%%shell
./LAB_19

#Loop Star=6
*
**
***
****
*****
******

In [ ]:
%%shell
./LAB_19

#Loop Star=8
*
**
***
****
*****
******
*******
********

## LAB 19.1

In [ ]:
%%writefile LAB_19.1.c
#include <stdio.h>
int main()
{
    int i;
    int cumu_mul = 1;
    // cumulative Multiply
 for(i=1; i<=10; i++)
 {
    if(i == 4 || i== 7|| i== 9 ) continue;
     cumu_mul*=i; // cumu_mul=cumu_mul*i;
 }
 printf("cumu_mul Number 1-10 (except 4, 7, and 9) = %d", cumu_mul);
 return 0;
}

Overwriting LAB_19.1.c

In [ ]:
%%shell
gcc -Wall LAB_19.1.c -o LAB_19.1

In [ ]:
%%shell
./LAB_19.1

cumu_mul Number 1-10 (except 4, 7, and 9) = 14400

## LAB 19.2

In [ ]:
%%writefile LAB_19.2.c
#include <stdio.h>
int main()
{
    int i;
    int cumu_mul = 1; // cumulative Multiply
 for(i=1;;i++) 
 {
    cumu_mul*=i; // cumu_mul=cumu_mul*i;
    if(cumu_mul>36000000) break;
  
 }
  printf("cumu_mul Number until-> 36,000,000 = %d and stop at i=%d",cumu_mul, i);
 return 0;
}

Overwriting LAB_19.2.c

In [ ]:
%%shell
gcc -Wall LAB_19.2.c -o LAB_19.2

In [ ]:
%%shell
./LAB_19.2

cumu_mul Number until-> 36,000,000 = 39916800 and stop at i=11

## LAB 20

In [ ]:
%%writefile LAB_20.c
#include <stdio.h>
int main()
{
  int i=1;
  while(i<=12)
  { 
    printf("2 x %d = %d\n",i,2*i);
    i++;
  }
 return 0;
}

Overwriting LAB_20.c

In [ ]:
%%shell
gcc -Wall LAB_20.c -o LAB_20

In [ ]:
%%shell
./LAB_20

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

## LAB 20

In [194]:
%%writefile LAB_20.1.c
#include <stdio.h>
#include <stdlib.h>
#include <time.h>
int main()
{
  srand(time(NULL)); // สุ่มเลข ให้สุมไม่ซ้ำ เเละกำหนดเวลาให้กับ func random
  int r = rand()%11;
  //printf("Randomized Number = %d \n",r); // เฉลยเลขที่ให้ทาย
   
  while(1)
  { 
      int num;
      printf("Guess a Number (1-10) : "); 
      scanf("%d", &num);
    if(num == r )
    {
        printf("Correct! Number is %d",r);
        break;
    }
   else if(num < r)
   {
       printf("Number is too low \n");
   }
   else if(num > r)
   {
       printf("Number is too high \n");
   }
  }
 return 0;
}

Overwriting LAB_20.1.c

In [195]:
%%shell
gcc -Wall LAB_20.1.c -o LAB_20.1

In [197]:
%%shell
./LAB_20.1

Randomized Number = 4
Guess a Number (1-10) : 3
Number is too low
Guess a Number (1-10) : 5
Number is too high
Guess a Number (1-10) : 4
Correct! Number is 4